<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Session-Auth</title>
</head>
<body>
    <h3>Testing Authentication with passport and express-session</h3>
    <p><a href="/login"> Login</a> to view your dashboard. Don't have an account? <a href="/register"> signup</a></p>
</body>
</html>