<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>

    <form action="/login" method="post">
      
        <!-- ********EMAIL************* -->
        <p>Username</p>
        <input type="email" name="username" required autocomplete="false">

        <!-- ********PASSWORD********** -->
        <p>Password</p>
        <input type="password" name="password" required autocomplete="false">

        <!-- *********SUBMIT*********** -->
        <p><button type="submit">Login</button></p>
        
        <!-- Login or signup -->
        <br>
       <p><a href="/register">signup</a></p> 
    </form>
</body>
</html>